
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 37.5px 10%;
    color: white;

    .navbar-brand {
        display: flex;
    }
    .navbar-brand img{
        height:50px;
    }

    .nav-list {
        display:flex;

        .nav-item {
            cursor: pointer;
            height:100%;
            padding: 0 30px;

            :hover {
                color: $gold;
            }
        }
        .nav-link {
            font-size:17px;
        }
        button.nav-link1 {
            background:none;
            border:none;
            text-decoration: none;
            color:white;
            font-size: 17px;
            
        }
       
    }
    div.book {
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        p i{
            height:17px;
            color:$gold;
           }
        a {
            padding:20px 30px;
            background-color: $gold;
            text-align: center;
            color:white;
            display: inline-block;            
            font-size: 14px;
            border-radius: 5px;
        }
    }    
    .dropdown {
        position: relative;
      
        }
    .dropdown-menu {
        position:absolute;
        left:0;
        top:calc(100% + .25rem);
        background-color: white;
        color:black;
        padding: .75rem;
        border-radius: .25rem;
        opacity: 0;
        transform: translateY(0);
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

    }
    .dropdown > .nav-link1:focus + .dropdown-menu {
        opacity: 1;
        transform: translateY(-10px);
        pointer-events: auto;
    }

}


/*@media (max-width:1080px) {
    nav {
        padding: 0 2rem;
        .nav-list .nav-item {
            padding: 0 20px;
        }
    }
}

@media (max-width:675px) {

    nav .nav-list {
        display: grid;
        position:absolute;
        width:100%;
        top:75px;
        left:0;
        transform:translateY(-100%);
        z-index: -1;
        transition:.6s;
    }
}*/