.section-1{
    height:900px;
    background-color: $mediumbeige;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Playfair Display", serif;

        .transparent-p{
            font-family: "Playfair Display", serif;
            color: $lightbeige;
            font-size: 200px;
            float: left;
            position: absolute;
            margin-bottom: 10px;
    }
        h2{
            font-family: "Playfair Display", serif;
            font-size: 50px;
            color: $black;
            text-align: center;
            padding-top: 50px;
    }
        .p-title{
            font-family: "Helvetica";
            color: $black;
            font-size: 25px;
            text-align: center;
            padding-top: 50px;
    }
        p img{
            align-items: end;
            width: 80px;
            text-align: center;
            padding: 5px;

            &:hover{
                color: $white;
            }
        }
        .cases{
            margin:0;
            width: 100%;
            display: flex;
            text-align: center;
            padding: 5%;
            gap: 1em;
    }
        article{
            display: grid;
            background-color: $white;
            padding: 3%;
            margin-right: 10px;
            width: 250px;

        &:hover{
            background-color: $gold;

        }
    }
        article p{
        color: $black;
        font-size:20px;
        font-family: "Playfair Display", serif;

        &:hover{
            color: $white;
        }
    }
        i{
        color: $black;
        text-align: center;
        padding-top: 1em;
        font-size: 25px;

        &:hover{
            color: $white;
        }
    }
    
}

@media only screen and (max-width:768px) {
    .section-1 {
        .transparent-p {
            font-size:74px;
            line-height:100px;
        }
        .cases {
            flex-direction: column;
        }
    }
    
}
