
.section-3{
    height: 900px;
    background-color: $white;
    

    .transparent-p{
    font-family: "Playfair Display", serif;
    color: $lightbeige;
    font-size: 200px;
    float: left;
    position: absolute;
    margin-bottom: 10px;
}
    h2{
        font-size: 50px;
        color: $black;
        text-align: center;
        padding-top: 50px;
        font-family: "Playfair Display", serif;
}
    p{
        font-family: "Helvetica";
        color: $black;
        font-size: 25px;
        text-align: center;
        padding-top: 50px;
}
    img{
        float: right;
        width: 158px;
        height: 158px;
        transform: translatex(-150%);
    }
    article{
        display: flex;
        flex: row;
        justify-content: center;
        align-items: center;
        padding: 5% 10%;
        margin: 0 15%;
    }
    article p{
        font-family: "Playfair Display", serif;
        font-size: 28px;
        color:$black;
        margin: 0 10%;
        text-align: left;
    }
    article img{
        width: 310px;
        height: 420px;
        transform: none
    }
        div{
            text-align: center;
        }
        a{
        font-weight: 600;
        color: $white;
        background-color: $gold;
        padding: 25px;
        border-radius: 5px;

            &:hover{
                color: $black;
                background-color: $white;
                border: solid 1px $grey;
            }
    
    }
}


@media only screen and (max-width:768px) {
    .section-3 .transparent-p { 
        font-size: 74px;
        line-height: 100px;
    }
} 