
.section-7{
    height:900px;
    background-color: $white;

    .transparent-p{
        font-family: 'Playfair Display', serif;
        color: $lightbeige;
        font-size: 200px;
        float: left;
        position: absolute;
        margin-bottom: 10px;
    }
        h2{
        font-family: 'Playfair Display', serif;
        font-size: 50px;
        color: $black;
        text-align: center;
        padding-top: 50px;
    }
        .p-title{
        font-family: "Helvetica";
        color: $black;
        font-size: 25px;
        text-align: center;
        padding-top: 50px;
    }
    div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    margin: 20px 10px;

    }
}
