
.section-5{
    height:900px;    
    background-color: $white;
    
    .transparent-p{
        font-family: "Playfair Display", serif;
        color: $lightbeige;
        font-size: 200px;
        float: left;
        position: absolute;
        margin-bottom: 10px;
        }
        h2{
        font-family: "Playfair Display", serif;
        font-size: 50px;
        color: $black;
        text-align: center;
        padding-top: 50px;
        }
        p{
        font-family:  "Helvetica";
        color: $black;
        font-size: 25px;
        text-align: center;
        padding-top: 50px;
        }
        
        .img-gallery{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 18px;
            flex-basis: 350px;
            position: relative;
            cursor: pointer;
        }

        .img-gallery li img {
            object-fit: cover;
            max-width: 100%;
            height: auto;
            
            &:hover{
                opacity: 30%;
            }
          }
            div{
            text-align: center;
            }
            a{
            font-weight: 600;
            color: $black;
            border: solid 1px $grey;
            background-color: transparent;
            padding: 25px;
            border-radius: 5px;

            &:hover{
                color: $white;
                background-color: $gold;
                border: solid 1px $gold;
            }
        }
}
