
.section-1{
    height:800px;
    background-color: $mediumbeige;
    background-repeat: no-repeat;
    background-size: cover;

        .transparent-p{
        font-family: 'Playfair Display', serif;
        color: $lightbeige;
        font-size: 200px;
        float: left;
        position: absolute;
        margin-bottom: 10px;
    }
    h2{
        font-family: 'Playfair Display', serif;
        font-size: 30px;
        color: $black;
        text-align: center;
    }
        p{
        font-family: "Helvetica";
        color: $black;
        text-align: center;
    }

        div{
        margin-top: 10em;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 5%;
        gap: 1em;
    }
        article{
        display: grid;
        background-color: $white;
        padding: 3%;
        margin-right: 10px;

        &:hover{
            background-color: $gold;
        }
    }
        article p{
        color: $black;
        font-family: 'Playfair Display', serif;
        font-size:18px;

        &:hover{
            color: $white;
        }
    }
        i{
        color: $black;
        text-align: center;

        &:hover{
            color: $white;
        }
    }
    
}






  
