
.section-3{
    
    background-color: $white;
    font-family: $font-serif;;

    .transparent-p{
    color: $lightbeige;
    font-size: 200px;
    float: left;
    position: absolute;
    margin-bottom: 10px;
}
    h2{
    font-size: 30px;
    color: $black;
    text-align: center;
}
    p{
    font-family: $font-sans-serif;
    color: $black;
    text-align: center;
}

}