.section-2{
        background-color: $white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
        

    .section-2__img1 {
        height:350px;
        transition: transform .3s ease-out;
    }
    .section-2__img1:hover {
        transform: translate(0,-20px) ;

    }
    .section-2__img2 {
        margin-top:-150px;
        height:50%;
        border:solid $white 20px;
        border-radius: 50%;
        transition: transform .3s ease-out;
        text-align: center;
        display:inline-block;
        
       
    }
    .section-2__img2:hover {
        transform: translate(0,-20px) ;
    }

    .section-2__img3 { 
        width:350px;
        height:auto;
        padding-right: 30px;
        transition: transform .3s ease-out;
    }
    .section-2__img3:hover {
        transform: translate(0,-20px) ;
    }
}