
@font-face {
    font-family:'fa-brands-400';
    src: url('fa-brands-400.woff2') format('woff2'); //Fa brands 400
}

@font-face {
    font-family: 'fa-light-300';
    src: url('fa-light-300.woff2') format('woff2'); // Fa light 300
}

@font-face {
    font-family: 'fa-regular-300';
    src: url('fa-regular-400.woff2')format('woff2'); 
}

@font-face {
    font-family: 'fa-solid-900';
    src: url('fa-solid-900.woff2') format('woff2');
}
