/*back section 4 / cards section 7*/
/*category / our menu)*/
/*social icons*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;900&display=swap%27");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  height: 100px;
}

header {
  height: 950px;
  background-image: url("/01-kababi/assets/img/slider/img_bg_slider_home01.jpg");
  background-size: cover;
  color: white;
}

header section {
  height: 819px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 15%;
}
header section img {
  height: auto;
  position: absolute;
  top: 25%;
  left: 33%;
}
header section h1 {
  font-family: "Playfair display";
  font-size: 130px;
  letter-spacing: -4.5px;
  margin-bottom: 30px;
  line-height: 155px;
}
header section a {
  padding: 20px 30px;
  border: 2px solid white;
  text-align: center;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37.5px 10%;
  color: white;
}
nav .navbar-brand {
  display: flex;
}
nav .navbar-brand img {
  height: 50px;
}
nav .nav-list {
  display: flex;
}
nav .nav-list .nav-item {
  cursor: pointer;
  height: 100%;
  padding: 0 30px;
}
nav .nav-list .nav-item :hover {
  color: #c8a96a;
}
nav .nav-list .nav-link {
  font-size: 17px;
}
nav .nav-list button.nav-link1 {
  background: none;
  border: none;
  text-decoration: none;
  color: white;
  font-size: 17px;
}
nav div.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
nav div.book p i {
  height: 17px;
  color: #c8a96a;
}
nav div.book a {
  padding: 20px 30px;
  background-color: #c8a96a;
  text-align: center;
  color: white;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
}
nav .dropdown {
  position: relative;
}
nav .dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: white;
  color: black;
  padding: 0.75rem;
  border-radius: 0.25rem;
  opacity: 0;
  transform: translateY(0);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
nav .dropdown > .nav-link1:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(-10px);
  pointer-events: auto;
}

/*@media (max-width:1080px) {
    nav {
        padding: 0 2rem;
        .nav-list .nav-item {
            padding: 0 20px;
        }
    }
}

@media (max-width:675px) {

    nav .nav-list {
        display: grid;
        position:absolute;
        width:100%;
        top:75px;
        left:0;
        transform:translateY(-100%);
        z-index: -1;
        transition:.6s;
    }
}*/
footer {
  height: 800px;
  background-image: url("/01-kababi/assets/img/footer/img-ng-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
footer .footlogo {
  margin-top: 40px;
  height: 60px;
}
footer .container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: left;
  padding: 5% 10%;
  margin: 5 0;
  line-height: 38px;
}
footer .footer-title {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  padding-bottom: 30px;
  align-items: center;
}
footer ul {
  font-family: "Helvetica", sans-serif;
  color: #9a9ca5;
  font-size: 16px;
}
footer p {
  color: #9a9ca5;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}
footer a {
  text-decoration: none;
  color: #9a9ca5;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}
footer a:hover {
  color: #fff;
  font-weight: 900;
}
footer input {
  height: 40px;
  width: 80%;
  border: none;
}
footer .contact {
  margin-left: 100px;
}
footer .contact img {
  width: 20px;
}
footer .link-footer {
  color: #c8a96a;
}
footer .footer-btn {
  background-color: #c8a96a;
  display: inline-block;
  position: absolute;
  height: 42px;
  width: 3%;
  border: none;
  outline: none;
  cursor: pointer;
}
footer .underline {
  padding-bottom: 5%;
}
footer hr {
  width: 80%;
}
footer .copyright {
  float: left;
  padding-left: 10%;
  margin-top: 1%;
}
footer #scroll-top {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  text-align: center;
  transform: translateY(-45px);
  width: 100px;
  height: 100px;
}
footer .socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10%;
  margin-top: 1%;
}
footer .socials i {
  font-size: 20px;
  color: #9a9ca5;
  margin: 5px;
  padding: 12px;
  background-color: rgba(154, 156, 154, 0.3960784314);
  border-radius: 50%;
}
footer .socials i:hover {
  color: #fff;
  background-color: #c8a96a;
}

.section-1 {
  height: 900px;
  background-color: #f5eee3;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Playfair Display", serif;
}
.section-1 .transparent-p {
  font-family: "Playfair Display", serif;
  color: #faf6f0;
  font-size: 200px;
  float: left;
  position: absolute;
  margin-bottom: 10px;
}
.section-1 h2 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: #1d1d1d;
  text-align: center;
  padding-top: 50px;
}
.section-1 .p-title {
  font-family: "Helvetica";
  color: #1d1d1d;
  font-size: 25px;
  text-align: center;
  padding-top: 50px;
}
.section-1 p img {
  align-items: end;
  width: 80px;
  text-align: center;
  padding: 5px;
}
.section-1 p img:hover {
  color: #fff;
}
.section-1 .cases {
  margin: 0;
  width: 100%;
  display: flex;
  text-align: center;
  padding: 5%;
  gap: 1em;
}
.section-1 article {
  display: grid;
  background-color: #fff;
  padding: 3%;
  margin-right: 10px;
  width: 250px;
}
.section-1 article:hover {
  background-color: #c8a96a;
}
.section-1 article p {
  color: #1d1d1d;
  font-size: 20px;
  font-family: "Playfair Display", serif;
}
.section-1 article p:hover {
  color: #fff;
}
.section-1 i {
  color: #1d1d1d;
  text-align: center;
  padding-top: 1em;
  font-size: 25px;
}
.section-1 i:hover {
  color: #fff;
}

.section-2 {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.section-2 .section-2__img1 {
  height: 350px;
  transition: transform 0.3s ease-out;
}
.section-2 .section-2__img1:hover {
  transform: translate(0, -20px);
}
.section-2 .section-2__img2 {
  margin-top: -150px;
  height: 50%;
  border: solid #fff 20px;
  border-radius: 50%;
  transition: transform 0.3s ease-out;
  text-align: center;
  display: inline-block;
}
.section-2 .section-2__img2:hover {
  transform: translate(0, -20px);
}
.section-2 .section-2__img3 {
  width: 350px;
  height: auto;
  padding-right: 30px;
  transition: transform 0.3s ease-out;
}
.section-2 .section-2__img3:hover {
  transform: translate(0, -20px);
}

.section-3 {
  background-color: #fff;
}
.section-3 .transparent-p {
  font-family: "Playfair Display", serif;
  color: #faf6f0;
  font-size: 200px;
  float: left;
  position: absolute;
  margin-bottom: 10px;
}
.section-3 h2 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: #1d1d1d;
  text-align: center;
}
.section-3 p {
  font-family: "Helvetica";
  color: #1d1d1d;
  text-align: center;
}

.section-4 {
  height: 900px;
  background-color: #f5eee3;
}
.section-4 .transparent-p {
  color: #faf6f0;
  font-size: 200px;
  float: left;
  position: absolute;
  margin-bottom: 10px;
  font-family: "Playfair Display", serif;
}
.section-4 h2 {
  font-size: 50px;
  color: #1d1d1d;
  text-align: center;
  padding-top: 50px;
  font-family: "Playfair Display", serif;
}
.section-4 p {
  font-family: "Helvetica";
  color: #1d1d1d;
  font-size: 25px;
  text-align: center;
  padding-top: 50px;
}
.section-4 h3 {
  font-size: 22px;
  color: #1d1d1d;
  font-family: "Playfair Display", serif;
}
.section-4 .p1 {
  font-family: "Helvetica";
  color: #9a9ca5;
  font-size: 16px;
  text-align: left;
  padding-top: 10px;
}
.section-4 .p2 {
  color: #c8a96a;
  font-size: 40px;
  text-align: end;
  position: relative;
  transform: translateY(-110%);
}
.section-4 .cases {
  margin: 0;
  margin: 0 372px;
  padding: 0;
  width: 60%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5%;
  padding: 5%;
  gap: 2em;
}
.section-4 article {
  display: grid;
  background-color: #fff;
  padding: 5%;
  border-radius: 5px;
  align-items: center;
}
.section-4 article:hover {
  border: dotted 3px #c8a96a;
}
.section-4 #steak {
  width: 25px;
  height: 600px;
  float: left;
  transform: translateY(-100%);
}
.section-4 #bread {
  width: 25px;
  height: 600px;
  float: right;
  transform: translateY(-200%);
}

.section-5 {
  height: 900px;
  background-color: #fff;
}
.section-5 .transparent-p {
  font-family: "Playfair Display", serif;
  color: #faf6f0;
  font-size: 200px;
  float: left;
  position: absolute;
  margin-bottom: 10px;
}
.section-5 h2 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: #1d1d1d;
  text-align: center;
  padding-top: 50px;
}
.section-5 p {
  font-family: "Helvetica";
  color: #1d1d1d;
  font-size: 25px;
  text-align: center;
  padding-top: 50px;
}

.section-6 {
  height: 900px;
  background-image: url("/01-kababi/assets/img/our-chefs/imgbg-ourchefs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.section-6 .transparent-p {
  font-family: "Playfair Display", serif;
  color: rgba(255, 255, 255, 0.0274509804);
  font-size: 200px;
  float: left;
  position: absolute;
  margin-bottom: 10px;
}
.section-6 h2 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: #fff;
  text-align: center;
  padding-top: 50px;
}
.section-6 p {
  font-family: "Helvetica";
  color: #fff;
  font-size: 25px;
  text-align: center;
  padding-top: 50px;
}
.section-6 .chefs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-top: 10em;
}
.section-6 img {
  width: 300px;
  height: 400px;
}
.section-6 img:hover {
  box-shadow: 0 0 100px #fff;
}

.section-7 {
  height: 900px;
  background-color: #fff;
}
.section-7 .transparent-p {
  font-family: "Playfair Display", serif;
  color: #faf6f0;
  font-size: 200px;
  float: left;
  position: absolute;
  margin-bottom: 10px;
}
.section-7 h2 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: #1d1d1d;
  text-align: center;
  padding-top: 50px;
}
.section-7 .p-title {
  font-family: "Helvetica";
  color: #1d1d1d;
  font-size: 25px;
  text-align: center;
  padding-top: 50px;
}
.section-7 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 10px;
}

/*# sourceMappingURL=style.css.map */
